# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*
.vscode
.tmp
.tmp/*

# Neutralinojs and Svelte dependencies/builds
node_modules
/bin
/dist
/dist-ssr
neutralino.js
.storage
.lite_workspace.lua
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
